{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": -37.14656209059745,
    "longitude": -56.88870370388032,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Buenos_Aires",
    "external_url": null,
    "internal_url": null,
    "currency": "ARS",
    "country": "AR",
    "language": "en",
    "radius": 100
  }
}